body {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
}
.border {
  border: 1px solid rgb(124, 99, 99);
}
body {
  height: 2500px;
  background: rgb(225, 219, 235);
}
li {
  list-style-type: none;
  margin-bottom: 3px;
}
.tips {
  border: 1px solid black;
  border-radius: 4px;
  margin: 10px;
  padding: 4px 10px;
  display: inline-block;
}
.tips-green {
  background: #f6ffed;
  border-color: #b7eb8f;
}
.tips-red {
  background: #fff2f0;
  border-color: #ffccc7;
}
.margin1 {
  margin-top: 5px;
}

.margin2 {
  margin-top: 10px;
}

.indent1 {
  margin-left: 10px;
}

.indent2 {
  margin-left: 20px;
}

.indent3 {
  margin-left: 30px;
}
.code-div {
  overflow: visible;
  position: relative;
}
.code-div .hide {
  position: absolute;
  z-index: 11;
  top: 0;
  right: 0;
  visibility: hidden;
}
.code-div > .hide2 {
  position: absolute;
  z-index: 11;
  top: 20px;
  left: 0;
  visibility: hidden;
  background: #eee;
  border-radius: 5px;
}
.code-div:hover .hide {
  visibility: visible;
}
.code-div:hover > .hide2 {
  visibility: visible;
}
.line-through {
  text-decoration: line-through;
}

.content4 {
  height: 2000px;
}

/* .code-blk {
  font-size: 10px !important;
} */

.code code {
  font-size: 12px !important;
}

.category-ul {
  border: 1px solid orange;
  height: 50px;
  overflow: scroll;
}
